@page
@model ProjektTAS.Pages.IndexModel
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    <link rel="stylesheet" href="~/css/Index.css" type="text/css" />
    <script src="~/js/Index.js">
    </script>
</head>
<body>
    @Model.Categories()
</body>
</html>
