@page
@model ProjektTAS.Pages.IndexModel
@{
    Layout = null;
    bool isLoggedIn = false;
    bool isRegistered = false;
}

@{
    if (Request.Query.TryGetValue("token", out Microsoft.Extensions.Primitives.StringValues value) && ProjektTAS.Classes.StaticMethods.IsTokenValid(value.ToString()))
    {
        isLoggedIn = true;
    }
    if (Request.Query.TryGetValue("registered", out value) && value == "true")
    {
        isRegistered = true;
    }
    

    
}

<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Strona główna</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.10/semantic.min.css">
    <link rel="stylesheet" href="~/css/style.css">
    <script src="~/js/overlay.js"></script>
</head>
<body>

    <div class="ui menu">

        @if (isLoggedIn)
        {
            <div id="overlay">
                <div id="specialbox">
                    <div class="ui grid">
                        <div class="column">
                            <h2 class="ui teal header" align="center">Dodaj produkt</h2>
                            <form class="ui large form">
                                <div class="ui stacked segment">
                                    <p>
                                        <select class="ui dropdown" >
                                            <option value="">Wybierz kategorię</option>
                                            @{
                                                foreach (System.Data.DataRow row in Model.AllCategories().Rows)
                                                {
                                                    <option value="@row["nazwa"].ToString()">@row["nazwa"].ToString()</option>
                                                }
                                            }
                                        </select>
                                    </p>
                                    <div class="field" >
                                        <div class="ui left icon input">
                                            <i class="pencil alternate icon"></i>
                                            <input type="text" id="nazwa" placeholder="Nazwa produktu">
                                        </div>
                                    </div>
                                    <div class="field" >
                                        <div class="ui left icon input">
                                            <i class="money bill alternate icon"></i>
                                            <input type="text" id="cena" placeholder="Cena produktu">
                                        </div>
                                    </div>
                                    <div class="ui error message"></div>
                                    <div class="ui fluid large teal submit button" onclick="">Potwierdź</div>
                                    <p>
                                        <div class="ui fluid large grey button" onclick="overlaywl()">Anuluj</div>
                                    </p>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>

            <button class="ui teal button" onclick="overlaywl()">Dodaj produkt</button>
        }

        <div class="right menu">
            <div class="ui buttons">
                @if (isLoggedIn)
                {
                    <button class="ui teal button "><a href="Index">Wyloguj się</a></button>
                }
                else
                {
                    if (isRegistered)
                    {
                        <button class="ui teal button"><a href="Login">Zarejestrowałeś się! Kliknij ten przycisk by się zalogować</a></button>
                    }
                    else
                    {
                        <button class="ui teal button"><a href="Login">Zaloguj się</a></button>
                    }
                    <div class="or"></div>
                    <button class="ui button"><a href="Rejestracja">Rejestracja</a></button>
                }
            </div>
        </div>
    </div>

    <div class="text"></div>

    <div class="ui vertical big menu">
        <div class="item">
            <div class="header">Kategorie</div>
            <div class="menu">
                @{
                    foreach (System.Data.DataRow row in Model.Kategorie().Rows)
                    {
                        <a class="item" href="tutaj link do kategorii">@row["nazwa"].ToString()</a>
                    }
                }
            </div>
        </div>
    </div>

    <!--
         <div class="ui grid elements">
            <div class="four wide column">dasdsadasdasdsadasdasdasdas sadasd sdasd asdasd asd asdasd asda</div>
            <div class="four wide column">dasdsadasdasdsadasdasdasdas sadasd sdasd asdasd asd asdasd asda</div>
            <div class="four wide column">dasdsadasdasdsadasdasdasdas sadasd sdasd asdasd asd asdasd asda</div>
            <div class="four wide column">dasdsadasdasdsadasdasdasdas sadasd sdasd asdasd asd asdasd asda</div>
            <div class="four wide column">dasdsadasdasdsadasdasdasdas sadasd sdasd asdasd asd asdasd asda</div>
            <div class="four wide column">dasdsadasdasdsadasdasdasdas sadasd sdasd asdasd asd asdasd asda</div>
            <div class="four wide column">dasdsadasdasdsadasdasdasdas sadasd sdasd asdasd asd asdasd asda</div>
            <div class="four wide column">dasdsadasdasdsadasdasdasdas sadasd sdasd asdasd asd asdasd asda</div>
          </div>
        </div>
    -->

    <div class="ui stackable four column very relaxed grid">
        
    @{
        foreach (System.Data.DataRow row in Model.Produkty().Rows)
        {<div class="column">
            <a class="item">@row["nazwa"].ToString()</a>
        </div>
        }
    }
    <!--   
        <div class="column">
            <img class="ui wireframe image" src="~/img/image.png">
        </div>
        <div class="column">
            <img class="ui wireframe image" src="~/img/image.png">
        </div>
        <div class="column">
            <img class="ui wireframe image" src="~/img/image.png">
        </div>
    </div>

    <div class="ui stackable four column very relaxed grid">
        <div class="column">
            <img class="ui wireframe image" src="~/img/image.png">
        </div>
        <div class="column">
            <img class="ui wireframe image" src="~/img/image.png">
        </div>
        <div class="column">
            <img class="ui wireframe image" src="~/img/image.png">
        </div>
        <div class="column">
            <img class="ui wireframe image" src="~/img/image.png">
        </div>
        --> 
    </div>
        

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.10/semantic.min.js"></script>
    <script src="~/js/main.js"></script>
</body>
</html>

