@page
@model ProjektTAS.Pages.LoginModel
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Logowanie</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.10/semantic.min.css">
    <link rel="stylesheet" href="~/css/style.css">
    <script src="~/js/main.js"></script>

</head>
<body>

    <div class="ui grid login">
        <div class="column">
            <h2 class="ui teal image header">
                <div class="content">
                    Zaloguj się na swoje konto
                </div>
            </h2>
            <form class="ui large form">
                <div class="ui stacked segment">
                    <div class="field">
                        <div class="ui left icon input">
                            <i class="address book icon"></i>
                            <input type="text" id="login" placeholder="Login">
                        </div>
                    </div>
                    <div class="field">
                        <div class="ui left icon input">
                            <i class="lock icon"></i>
                            <input type="password" id="password" placeholder="Hasło">
                        </div>
                    </div>
                    <div class="ui fluid large teal submit button" onclick="Login()">Zaloguj</div>
                </div>

                <div class="ui error message"></div>

            </form>

            <div class="ui message">
                Nie masz konta? <a href="Rejestracja">Rejestracja</a>
            </div>
        </div>
    </div>


    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.10/semantic.min.js"></script>
    <script src="~/js/Login.js"></script>
</body>
</html>
