.ui.grid.login {
    width: 30%;
    margin: auto;
    padding-top: 100px;
    text-align: center;
}

.ui.grid.rejestracja {
    width: 30%;
    margin: auto;
    padding-top: 100px;
    text-align: center;
}

.ui.menu {
}

.ui.vertical.menu {
    float: left;
    height: 80%;
}

/*
.ui.grid.elements
{
	padding-top: 30px;
}

.four.wide.column
{
	border: solid;
	width: 200px;
	height: 200px;

}
*/

.ui.four.column.very.relaxed.grid {
    padding-top: 40px;
}

button a:visited {
    color: white;
}
