.ui.grid.login {
    width: 30%;
    margin: auto;
    padding-top: 100px;
    text-align: center;
}

.ui.grid.rejestracja {
    width: 30%;
    margin: auto;
    padding-top: 100px;
    text-align: center;
}

.ui.grid.konto {
    width: 30%;
    margin: auto;
    padding-top: 100px;
    text-align: center;
}

.ui.menu {
}

.ui.vertical.menu {
    float: left;
    height : 100vh;

}

/*
.ui.grid.elements
{
	padding-top: 30px;
}

.four.wide.column
{
	border: solid;
	width: 200px;
	height: 200px;

}
*/

.ui.four.column.very.relaxed.grid {
    padding-top: 40px;
}

button a:visited {
    color: white;
}

#overlay {
    position: fixed;
    display: none;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.8);
    z-index: 2;
}

#specialbox {
    position: absolute;
    top: 30%;
    left: 30%;
    width: 40%;
    height: 55%;
    border: 5px solid grey;
    padding: 10px;
    margin-left: auto;
    margin-right: auto;
    background: white;
}
#produktbox {
    width: 16.5%;
    height: 15%;
    border: 2px solid teal;
    margin-right: auto;
}
